doctype html
html
  head
    meta(charset='UTF-8')
    title Dashboard / Twitter Image Collection
  body
    header
      h1 Welcome To Dashboard
    div(id='container')
    script(src='/assets/js/bundle.js')
