doctype html
html
  head
    meta(charset='UTF-8')
    title Twitter Image Collection
    link(rel='stylesheet', href='/assets/css/app.css')
  body
    header
      h1 Twitter Image Collection
    div(id='container')
      a(href='/auth/twitter')
        |Sign in with Twitter!
