doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Kaginawa
    link(rel='stylesheet', href='/assets/css/app.css')
  body
    header
      h1
        a(href='/auth/twitter') Kaginawa
    div(id='container')
